body {
	background-color: white;
	color: #444;

	font-family: helvetica;
	font-size: 18px;

	padding: 5px 25px;
	margin: 0;
}

h1 {
	font-size: 32px;
}

.llamativo{
	background-color: white;
	color: blue;
}


